* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    padding: 0;
    margin: 0;
    background-color: #00b5f7;
    background-size: 53px 53px;
    background-image: radial-gradient(
        transparent 28px,
        #ffffff 28px,
        #ffffff 32px,
        transparent 32px
    );
}

/* HEADER */

header {
    overflow: hidden;
    background-color: white;
}

header a {
    float: left;
    display: block;
    color: white;
    background-color: #00b5f7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#refresh-btn {
    cursor: pointer;
}

header input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

header .search-container {
    float: right;
}

header .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    color: white;
    background-color: #00b5f7;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

header .search-container button:hover {
    background: #ccc;
}

/* BODY */ 

#img-container {
    position: relative;
    width: 800px; 
    height: 500px;
    margin: 0 auto;
    top: 100px;
}

img {
    max-width:100%;
    max-height:100%;
    position: relative;
    left: 150px;
}